$white: #fff;
$off-white: #fefefe;
$grayish: #e5e5e5;
$black: #000;
$blueish: #48d;
$greenish: #7b6;
$boxes-color: #8fd1cd;

@function tint($color, $percentage) {
  @return mix($white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix($black, $color, $percentage);
}
