$background-color: #7ae5cb;
$font-color: #278be0;
$boxes-color: #8fd1cd;
$box-color: #473fa1;


$unit: 30px;


.new-game-button {
  display: none;
}

.game-board {
  display: none;
}

#change-password {
  display: none;
}

#sign-out {
  display: none;
}

body {
  border: 2px;
  color: tint($font-color, 15%);
  margin: 0 auto;
  padding: 10px 0 40px;
}

.row > .col-xs-5 {
  box-sizing: border-box;
  color: shade($box-color, 20%);
  font-size: 70px;
  font-weight: bolder;
  height: 140px;
  padding: 5px 5px 20px 30px;
  position: relative;
  width: 140px;
}

.col-lg-3 > #winner {
  float: left;
  font-size: 60px;

}

.col-lg-6 {
  float: right;
  width: 500px;

}

#right-side {
  font-size: 40px;
}

.col-lg-3 > #right-side {
  float: right;
  font-size: 60px;

}

// NOTE BORDERS FOR TIC TAC

.tl {
  border-bottom: 3px solid tint($box-color, 10%);
  border-right: 3px solid tint($box-color, 10%);
}

.tm {
  border-bottom: 3px solid tint($box-color, 10%);
  border-left: 3px solid tint($box-color, 10%);
  border-right: 3px solid tint($box-color, 10%);
}

.tr {
  border-bottom: 3px solid tint($box-color, 10%);
  border-left: 3px solid tint($box-color, 10%);
}

.ml {
  border-bottom: 3px solid tint($box-color, 10%);
  border-right: 3px solid tint($box-color, 10%);
  border-top: 3px solid tint($box-color, 10%);
}

.mm {
  border-bottom: 3px solid tint($box-color, 10%);
  border-left: 3px solid tint($box-color, 10%);
  border-right: 3px solid tint($box-color, 10%);
  border-top: 3px solid tint($box-color, 10%);
}

.mr {
  border-bottom: 3px solid tint($box-color, 10%);
  border-left: 3px solid tint($box-color, 10%);
  border-top: 3px solid tint($box-color, 10%);
}

.bl {
  border-right: 3px solid tint($box-color, 10%);
  border-top: 3px solid tint($box-color, 10%);
}

.bm {
  border-left: 3px solid tint($box-color, 10%);
  border-right: 3px solid tint($box-color, 10%);
  border-top: 3px solid tint($box-color, 10%);
}

.br {
  border-left: 3px solid tint($box-color, 10%);
  border-top: 3px solid tint($box-color, 10%);
}
