$background-color: #66cdaa;
$font-color: #402970;


$unit: 30px;


body {
  color: tint($font-color, 20%);
}

.row > .col-xs-5 {
  border: 2px solid $box-color;
  box-sizing: border-box;
  height: 100px;
  padding: 40px;
  width: 100px;
}

.left-col-md-5 {
  float: left;
}

.game-container {
  height: 350px;
  margin: 0 auto;
  width: 350px;
}

.right-col-md-5 {
  float: right;
}
