
h2 {
  font-family: copperplate, fantasy;
  font-size: 65px;
  font-style: oblique;
  font-weight: 600;
  text-align: center;
}

.column-left {
  font-size: 35px;
  font-style: oblique;
  font-weight: 600;
  text-align: center;
}

.column-right {
  font-size: 35px;
  font-style: oblique;
  font-weight: 600;
  text-align: center;
}
